@import "../../sass/abstracts/variables";

.container {
  width: 100%;
  position: relative;

  &__input {
    border: none;
    border-radius: 2px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    height: 22px;
    padding: 6px 6px 6px 20px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    background-color: $color-secondary;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    width: 35px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &__img {
    display: block;
    margin: 9px auto 0 auto;
    cursor: pointer;
  }
}
