// COLORS
$color-primary: #ffe600;
$color-secondary: #eeeeee;
$color-tertiary: #3483fa;

$color-dark-grey: #333333;
$color-grey: #666666;
$color-second-grey: #999999;
$color-white: white;

// Sizes 
$basic-padding: 16px;
$double-padding: 32px;


// Borders Radiuos
$medium-border: 2px;
$big-border: 4px;
