@import "../../sass/abstracts/variables";

.container-alert {
  border-radius: $big-border;
  max-width: 1018px;
  min-height: 204px;
  margin: 48px auto;
  background-color: $color-white;
  display: flex;
  flex-direction: row;
}

.box-icon {
  min-width: 10%;
  text-align: center;
  width: 40%;
  padding: 50px 32px;
}

.box-message {
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  padding: 42px 40px 32px 1px;
  width: 100%;
}
