@import "../../sass/abstracts/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.loader {
  border: 16px solid $color-second-grey;
  border-top: 16px solid $color-primary;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
