@import "../../sass/abstracts/variables";

.product-detail-card {
  height: 670px;
  width: 100%;
  background-color: $color-white;
  border-radius: $big-border;
  display: flex;
  flex-direction: row;
}

.box-left {
  padding-left: $double-padding;
  padding-top: $double-padding;
  width: 850px;

  &__box-image {
    text-align: center;
    padding-bottom: $double-padding;
  }

  &__img {
    width: 200px;
    height: auto;
  }

  &__produc-desc {
    font-family: inherit;
    font-weight: 600;
    font-size: 28px;
    padding: 0 0 $double-padding 0;
  }

  &__text {
    color: $color-second-grey;
    width: 100%;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
  }

  @media only screen and (min-width: 600px) {
    &__produc-desc {
      font-size: 28px;
    }

    &__text {
      font-size: 12px;
    }
  }

  @media only screen and (max-width: 600px) {
    &__produc-desc {
      font-size: 18px;
    }

    &__text {
      font-size: 12px;
    }
  }  
}

.box-right {
  width: 30%;
  padding: $double-padding $double-padding $basic-padding 80px;

  &__products-sold {
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    color: $color-second-grey;
  }

  &__product-desc {
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: $double-padding;
  }

  &__product-values {
    font-family: inherit;
    font-size: 46px;
    font-weight: 400;
    padding-bottom: $double-padding;
  }

  @media only screen and (max-width: 600px) {
    padding: $double-padding 0 $basic-padding 0;

    &__product-desc {
      font-size: 14px;
    }

    &__product-values {
      font-size: 20px;
    }
  }

  @media only screen and (min-width: 600px) {
    &__product-desc {
      font-size: 18px;
    }

    &__product-values {
      font-size: 20px;
    }
  }

  @media only screen and (min-width: 768px) {
    &__product-desc {
      font-size: 24px;
    }

    &__product-values {
      font-size: 46px;
    }
  }

  @media only screen and (min-width: 992px) {
    &__product-desc {
      font-size: 24px;
    }

    &__product-values {
      font-size: 46px;
    }
  }
}

.resize_fit_center {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
